<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>WEATHER DATA API</title>
    <style>
        h1{text-align: center ; font-family: "Copperplate Gothic Bold",sans-serif ; background-color: burlywood}
    </style>
</head>
<body>
<h1>WEATHER DATA API</h1>
<p>URL Format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>for single date of single station: http://127.0.0.1:5000/api/v1/STAID/YYYY-MM-DD</p>
<p>for Full data of single station: http://127.0.0.1:5000/api/v1/STAID</p>
<p>for a specific year for a single station: http://127.0.0.1:5000/api/v1/yearly/STAID/YYYY</p>
<hr>
<p><b>Below is the table consisting of all the temperature data</b></p>
<p><b>STAID: Station ID</b></P>
<p><b>STANAME = Station Name</b></p>
<p><b>CN: Country Code</b></p>
<p><b>LAT: Latitude in degrees:minutes:seconds (+: North, -: South)</b></p>
<p><b>LON: Longitude in degrees:minutes:seconds (+: East, -: West)</b></p>
<p><b>HGTH: Station elevation in meters</b></p>
<hr>
<p>{{data|safe}}</p>
</body>
</html>